* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #e5e7eb; /* gris claro */
  font-family: Arial, sans-serif;
}

/* Contenedor */
.asistencia-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  margin-bottom: 15px;
  font-size: 24px;
  text-align: center;
}

.contador {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}

/* Card exagerada para test */
.asistencia-card {
  background: rgb(241, 238, 238);
  color: rgb(17, 16, 16);
  padding: 20px;
  border: 5px solid rgb(80, 165, 108);
  border-radius: 20px;
  width: 350px;
}

.nombre {
  margin-left: 10px;
  font-size: 18px;
}