* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-image: linear-gradient(
    to bottom,
    #091321,
    #061b22,
    #0f2020,
    #1b2520,
    #272923
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
